<!DOCTYPE html>
<html>
	<head>
		<title> play</title>
		<link rel="stylesheet" href="../../../css/main.css">
		<script src="../../js/3js/Three.js"></script>
		<script src="../../js/3js/cannon.js"></script>
		<script src="../../js/3js/PointerLockControls.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<style>
	#play{
		width: 100%;
		height: 100%;
	}
	body {
	    background-color: #ffffff;
	    margin: 0;
	    overflow: hidden;
	    font-family: arial;
	}
	#blocker {

	    position: absolute;

	    width: 100%;
	    height: 100%;

	    background-color: rgba(0,0,0,0.5);

	}
	header{
		position: absolute;
		right: 0;
	}
	#instructions {

	    width: 100%;
	    height: 100%;
	
	    color: #ffffff;
	    text-align: center;
		padding-top: 100px;
	    cursor: pointer;

	}
	#choose{
		width: 400px;
		display: flex;
		height: 200px;
		margin: auto;
	}
	#radiant,#dire{
		margin:auto;
		display: block;
		width: 180px;
		/*width: 190px;*/
		border-radius: 10px;
		line-height: 180px;
		height: 180px;
		box-shadow: 1px 1px 11px rgba(0,0,0,0.5);
	}
	#instructions P{
		clear: both;
	}
	#playerHp{
		width: 200px;
		height: 15px;
		background: #ea6e11;
	}
	p{
		color:white;
	}
	.otherPlayerHp{
		width: 200px;
		height: 15px;
		background: #ea6e11;
	}
	</style>
	<script type="text/javascript" >
		"use strict";
		let profilePic = "<%= profilePic %>";
		let profileName = "<%= profileName %>";
		let profileId = "<%= profileId %>";
		let host = "<%= host %>";
		let roomId = "<%= roomId %>";
		let roomName = "<%= roomName %>";
		console.log("profilePic: ", profilePic);
		console.log("profileName: ", profileName);
		console.log("profileId: ", profileId);
		console.log("host: ", host);
		console.log("roomId: ", roomId);
		console.log("roomName: ", roomName);

		// console.log(JSON.parse(roomInfo));
		let socket = io("<%= host %>"+"/multiPlay");
		socket.on('connect', function () {
		   console.log("connect to server!!!!!!");
		   socket.emit("join", {
		   	profilePic,
		   	profileName,
		   	profileId,
		   	roomId
		   })
		});
		socket.emit('playersList');
		socket.on('playersList', function(data){
			console.log(data);
			for(let prop in data){
				console.log(data[prop]);
				let div = document.createElement("div");
				div.setAttribute("class", "player");

				div.innerHTML = `<div>
							<img src=${data[prop].profilePic} alt="">
							<p>${data[prop].profileName}</p>
						</div>
						<div class="otherPlayerHp" data-id="${data[prop].profileId}"></div>`;

				document.getElementById("userList").appendChild(div);
			}
		});



	</script>
	<audio id="audioElement" src="../../sound/ufo.wav"></audio>
	<audio id="toogle" src="../../sound/toggle.wav"></audio>
	<body id="play">
		<div id="blocker">
	
		    <div id="instructions">
		    	<h1>choose your team</h1>
		    	<div id="choose">
		    		<div id="radiant"> The radiant </div>
		    		<div id="dire"> The dire </div>
		    	</div>
		        <p>(W,A,S,D = Move, SPACE = Jump, MOUSE = Look, CLICK = Shoot)</p>
		    </div>

		</div>
		<header>
			<nav>
				<div>
					<img src="<%= profilePic %>" alt="">
					<p><%= profileName %></p>
					<h1 id="playerHp"></h1>
				</div>

				<!-- <h1>play@!!</h1> -->
		<!-- 		<div class='user'>
					<h1><%= roomName %></h1>
					<h4><%= profileName %></h4>
					<img src="<%= profilePic %>" alt="<%= profileName %>">
				</div> -->
				<div id="userList">
		<!-- 			<div class="player">
						<div>
							<img src="" alt="">
							<p>name</p>
						</div>
						<div>####################</div>
					</div> -->
				</div>
			</nav>
		</header>
		<main id="roomMain">
			

		</main>
		
		<script>
			var bgMusic = document.getElementById("audioElement");
			setInterval(function(){
				// bgMusic.play();
			}, 1900 )
// 		****************************************************************************
// *                                   sound                                  *
// ****************************************************************************
		    var sphereShape, sphereBody, world, physicsMaterial, walls=[], balls=[], ballMeshes=[], boxes=[], boxMeshes=[];
		    var sphereShape2; /*temp*/
		    var sphereBody2Arr=[]; /*temp*/
		    var jason = [];
		    var camera, scene, renderer;
		    var geometry, material, mesh;
		    var controls,time = Date.now();
		    var radiant;
		    var loader = new THREE.TextureLoader();
		    var moon;
		    var ssun;
		    var blocker = document.getElementById( 'blocker' );
		    var instructions = document.getElementById( 'instructions' );

		    var havePointerLock = 'pointerLockElement' in document || 'mozPointerLockElement' in document || 'webkitPointerLockElement' in document;

		    if ( havePointerLock ) {

		        var element = document.body;
		        //if the poiter lock
		        var pointerlockchange = function ( event ) {

		            if ( document.pointerLockElement === element || document.mozPointerLockElement === element || document.webkitPointerLockElement === element ) {

		                controls.enabled = true;

		                blocker.style.display = 'none';

		            } else {
		                controls.enabled = false;
		                blocker.style.display = '-webkit-box';
		                blocker.style.display = '-moz-box';
		                blocker.style.display = 'box';
		                instructions.style.display = '';

		            }

		        }
		        // if the poiter denied
		        var pointerlockerror = function ( event ) {
		            instructions.style.display = '';
		        }

		        // Hook pointer lock state change events
		        document.addEventListener( 'pointerlockchange', pointerlockchange, false );
		        document.addEventListener( 'mozpointerlockchange', pointerlockchange, false );
		        document.addEventListener( 'webkitpointerlockchange', pointerlockchange, false );

		        document.addEventListener( 'pointerlockerror', pointerlockerror, false );
		        document.addEventListener( 'mozpointerlockerror', pointerlockerror, false );
		        document.addEventListener( 'webkitpointerlockerror', pointerlockerror, false );
		        document.getElementById("radiant").addEventListener("click", function(){
		        	// alert("radiant");
		        	controls.body.position.set(0,33,20);
		        	controls.mesh.position.set(0,33,20);

		        	socket.emit("teamReq", {
		        		team: "radiant",
		        		profilePic: profilePic,
		        		profileName: profileName,
		        		profileId: profileId,
		        		roomId: roomId
		        	});
		        })
		        document.getElementById("dire").addEventListener("click", function(){
		        	controls.body.position.set(0,33,-20);
		        	controls.mesh.position.set(0,33,-20);
		        	socket.emit("teamReq", {
		        		team: "dire",
		        		profilePic: profilePic,
		        		profileName: profileName,
		        		profileId: profileId,
		        		roomId: roomId
		        	});
		        })



		        instructions.addEventListener( 'click', function ( event ) {
		            instructions.style.display = 'none';
		
		            // Ask the browser to lock the pointer
		            element.requestPointerLock = element.requestPointerLock || element.mozRequestPointerLock || element.webkitRequestPointerLock;

		            if ( /Firefox/i.test( navigator.userAgent ) ) {

		                var fullscreenchange = function ( event ) {

		                    if ( document.fullscreenElement === element || document.mozFullscreenElement === element || document.mozFullScreenElement === element ) {

		                        document.removeEventListener( 'fullscreenchange', fullscreenchange );
		                        document.removeEventListener( 'mozfullscreenchange', fullscreenchange );

		                        element.requestPointerLock();
		                    }

		                }

		                document.addEventListener( 'fullscreenchange', fullscreenchange, false );
		                document.addEventListener( 'mozfullscreenchange', fullscreenchange, false );

		                element.requestFullscreen = element.requestFullscreen || element.mozRequestFullscreen || element.mozRequestFullScreen || element.webkitRequestFullscreen;

		                element.requestFullscreen();

		            } else {

		                element.requestPointerLock();

		            }

		        }, false );

		    } else {

		        instructions.innerHTML = 'Your browser doesn\'t seem to support Pointer Lock API';

		    }

		    initCannon();
		    init();
		    animate();

		    function initCannon(){
		        // Setup our world
		        world = new CANNON.World();
		        world.quatNormalizeSkip = 0;
		        world.quatNormalizeFast = false;

		        var solver = new CANNON.GSSolver();

		        world.defaultContactMaterial.contactEquationStiffness = 1e9;
		        world.defaultContactMaterial.contactEquationRelaxation = 4;

		        solver.iterations = 7;
		        solver.tolerance = 0.1;
		        var split = true;
		        if(split)
		            world.solver = new CANNON.SplitSolver(solver);
		        else
		            world.solver = solver;

		        world.gravity.set(0,-20,0);
		        world.broadphase = new CANNON.NaiveBroadphase();

		        // Create a slippery material (friction coefficient = 0.0)
		        physicsMaterial = new CANNON.Material("slipperyMaterial");
		        var physicsContactMaterial = new CANNON.ContactMaterial(physicsMaterial,
		                                                                physicsMaterial,
		                                                                0.0, // friction coefficient
		                                                                0.3  // restitution
		                                                                );
		        // We must add the contact materials to the world
		        world.addContactMaterial(physicsContactMaterial);

		        // Create a sphere
		        var mass = 5, radius = 1.3;
		        sphereShape = new CANNON.Sphere(radius);
		        sphereBody = new CANNON.Body({ mass: mass });
		        sphereBody.addShape(sphereShape);
		        sphereBody.position.set(0,5,0);
		        sphereBody.linearDamping = 0.9;
		        world.addBody(sphereBody);

		        // Create a plane
		        var groundShape = new CANNON.Plane();
		        var groundBody = new CANNON.Body({ mass: 0 });
		        groundBody.addShape(groundShape);
		        groundBody.quaternion.setFromAxisAngle(new CANNON.Vec3(1,0,0),-Math.PI/2);
		        world.addBody(groundBody);
		    }

		    function init() {

		        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
		        scene = new THREE.Scene();
		        scene.fog = new THREE.Fog(0x252649, 0, 110 );
		        var ambient = new THREE.AmbientLight( 0x021238 );
		        scene.add( ambient );

		        light = new THREE.SpotLight( 0xefefe7 );
		        light.position.set( 10, 77, 20 );
		        light.target.position.set( 0, 0, 0 );
		        if(true){
		            light.castShadow = true;
		            light.intensity = 2.4;

		            light.shadowCameraNear = 20;
		            light.shadowCameraFar = 50;//camera.far;
		            light.shadowCameraFov = 40;

		            light.shadowMapBias = 0.1;
		            light.shadowMapDarkness = 0.7;
		            light.shadowMapWidth = 2*1;
		            light.shadowMapHeight = 2*512;

		            //light.shadowCameraVisible = true;
		        }
		        scene.add( light );

		        var radiantTeam = [];
		        var direTeam = [];
		        var teams = radiantTeam.concat(direTeam);
		        socket.emit("reqCurrentPlayer", teams);


		        socket.on("radiantRes", function(data){
		        	// radiantTeam.push(id);
		        	console.log("radiantRes: ", data);
		        	renderPlayer({x:0, y:30, z: 20}, data.info.profileId, "#38396c");
		        })
		        socket.on("direRes", function(data){
		        	// direTeam.push(id);
		        	console.log("direRes: ", data);
		        	console.log("direRes: ", data.info);
		        	renderPlayer({x:0, y:30, z:-20}, data.info.profileId, "#03acac");
		        })

 				
	        	controls = new PointerLockControls( camera , sphereBody, {
	        	    x : 0,
	        	    y : 10,
	        	    z : 20
	        	},"red", profilePic , profileName, roomId);

	        	scene.add( controls.getObject());
		        

		        function renderPlayer(objpos,id,color ){
		        	var playerColor = ["pink", "salmon", "skyblue", "indogo", "red"]
		        	var x = objpos.x;
		        	var y = objpos.y;
		        	var z = objpos.z;
					// var texture = loader.load("https://pbs.twimg.com/profile_images/644308376323813376/iH0o0RL8_normal.png");
					var texture = loader.load("../../img/bg.jpg");
					// texture.wrapS = texture.wrapT = THREE.RepeatWrapping; 
					// texture.repeat.set(1000, 1000);
					var label = new THREE.OctahedronGeometry(0.2);
					var material = new THREE.MeshBasicMaterial({
						color: color,
						// map: texture
						blending: THREE.MultiplyBlending
					});
					var labelMesh = new THREE.Mesh( label, material );
					labelMesh.position.set(0,1.4,0);
					// scene.add( labelMesh )
		        	sphereShape2 = new CANNON.Sphere(1.3);
		        	sphereBody2 = new CANNON.Body({ mass: 5 });
		        	sphereBody2.addShape(sphereShape2);
		        	sphereBody2.position.set(0,5,0);
		        	sphereBody2.linearDamping = 0.9;
		        	sphereBody2.id = id;
		        	world.addBody(sphereBody2);
		        	var geometry = new THREE.SphereGeometry(1, 3,3 );
		        	var material = new THREE.MeshLambertMaterial( { 
		        		// map:floorTexture,
		        	    color: "red",
		        	    // transparent: true,
		        	    // opacity: 0.4
		        	     } );
		        	var jasonObject = new THREE.Mesh( geometry, material );
		        	jasonObject.add(labelMesh);
		        	jasonObject.id = id;
		        	sphereBody2.position.set(x,y,z);
		        	jasonObject.position.set(x,y,z);
		        	jason.push(jasonObject);
		        	sphereBody2Arr.push(sphereBody2);
		        	// console.log("jasonObject.position:from 284 ",jasonObject.position);
		        	scene.add(jasonObject);
		        	// sphereBody2.addEventListener("collide",function(e){
		        	//     // console.log("sphereBody2 attacked: ", sphereBody2.position);
		        	//     socket.emit("otherCollid", {
		        	//     	roomId: roomId,
		        	//     	pos:sphereBody2.position
		        	//     })
		        	// });
		        }

		       
		            
// 		   ****************************************************************************
// *                                    moon                              *
// ****************************************************************************
	
	var gg = new THREE.SphereGeometry( 8, 32, 32 );
	var mm = new THREE.MeshBasicMaterial( {color:0xf3e9db,map: THREE.ImageUtils.loadTexture('../../img/moon.jpg')} );
	moon = new THREE.Mesh( gg, mm );
	moon.position.set(1,6,-80);
	scene.add( moon );
// 		   ****************************************************************************
// *                                    moon                              *
// ****************************************************************************
		            
// 		   ****************************************************************************
// *                                    sun                              *
// ****************************************************************************
	
	var gsun = new THREE.SphereGeometry( 20, 32, 32 );
	var ss = new THREE.MeshBasicMaterial( {color:0xf3e9db,map: THREE.ImageUtils.loadTexture('../../img/mars.jpg')} );
	ssun = new THREE.Mesh( gsun, ss );
	ssun.position.set(1,6,80);
	scene.add( ssun );


// 		   ****************************************************************************
// *                                    sun                              *
// ****************************************************************************



		        // console.info(controls);
		        // floor
		        geometry = new THREE.PlaneGeometry( 50, 100, 50, 50 );
		        geometry.applyMatrix( new THREE.Matrix4().makeRotationX( - Math.PI / 2 ) );
		        var floorTexture =new THREE.ImageUtils.loadTexture('../../img/sun.jpg');
				floorTexture.wrapT = THREE.RepeatWrapping; 
		        floorTexture.repeat.set(1,1);
		        material = new THREE.MeshLambertMaterial( { 
		        	map: floorTexture,
		        	color: 0x67a0e5,
		        	// blending: THREE.AdditiveBlending,
		        } );

		        mesh = new THREE.Mesh( geometry, material );
		        mesh.castShadow = true;
		        mesh.receiveShadow = true;
		        mesh.position.set(7,0,0)
		        scene.add( mesh );

		        renderer = new THREE.WebGLRenderer();
		        renderer.shadowMapEnabled = true;
		        renderer.shadowMapSoft = true;
		        renderer.setSize( window.innerWidth, window.innerHeight );
		        renderer.setClearColor( scene.fog.color, 1 );
 
		        document.body.appendChild( renderer.domElement );

		        window.addEventListener( 'resize', onWindowResize, false );
		        socket.emit("askBarrier");

		        socket.on("barrier", function(data){
		        	var texture =new THREE.ImageUtils.loadTexture('../../img/marble.jpg');
					texture.wrapS = texture.wrapT = THREE.RepeatWrapping; 
					texture.repeat.set(1,1);
		        	var material1 = new THREE.MeshLambertMaterial({
		        		// color: 0xfff6d6,
		        		map: texture
		        	});
		        	// Add boxes
		        	var halfExtents = new CANNON.Vec3(1,5,1);
		        	var boxShape = new CANNON.Box(halfExtents);
		        	var boxGeometry = new THREE.CylinderGeometry(halfExtents.x/2,halfExtents.z/44, halfExtents.y*2,5,10);
		        	for(var i=0; i<data.length; i++){
		        	    var x = data[i].x;
		        	    var y = data[i].y;
		        	    var z = data[i].z;
		        	    var boxBody = new CANNON.Body({ mass: 100000 });
		        	    boxBody.addShape(boxShape);
		        	    boxBody.id = i;
		        	    // console.log(boxBody);
		        	    var boxMesh = new THREE.Mesh( boxGeometry, material );
		        	    world.addBody(boxBody);


		    			var fireTexture =new THREE.ImageUtils.loadTexture('../../img/fire.jpg');
		        	    if(i%2==0){
			        	    var de = new THREE.OctahedronGeometry(0.3);
		        	    }else{
		        	    	var de = new THREE.OctahedronGeometry(1.2);
		        	    }
		        	    var ma = new THREE.MeshBasicMaterial( {map: fireTexture} );
		        	    var dee = new THREE.Mesh( de, ma );
		        	    var xx = 0, yy = 5, zz = 0;
		        	    dee.castShadow = true;
		        	    dee.receiveShadow = true;
		        	    dee.position.set(xx,yy,zz);
		        	    boxMesh.add( dee );


		        	    scene.add(boxMesh);
		        	    boxBody.position.set(x,y,z);
		        	    boxMesh.position.set(x,y,z);
		        	    boxMesh.castShadow = true;
		        	    boxMesh.receiveShadow = true;
		        	    boxes[i]=boxBody;
		        	    boxMeshes.push(boxMesh);
		        	    boxBody.addEventListener("collide", function(e){
		        	    	// console.log(e.target);
		        	    	function d(){
		        	    		socket.emit("barrierChange", {
		        	    			roomId: roomId,
		        	    			barrierId: e.target.id,
		        	    			position: e.target.position
		        	    		})
		        	    	}
		        	    	d();
							// setInterval(d, 600);
		        	    })
		        	}
		        })

		    }

		    for (var i = 0; i < 10; i++) {
				var fireTexture =new THREE.ImageUtils.loadTexture('../../img/fire.jpg');
	    	    var de = new THREE.OctahedronGeometry(Math.random()*0.7);
	    	    var ma = new THREE.MeshBasicMaterial( {map: fireTexture} );
	    	    var dee = new THREE.Mesh( de, ma );
	    	    dee.castShadow = true;
	    	    dee.receiveShadow = true;
	    	    dee.position.set(Math.random()*10,0,Math.random()*10-5);
	    	    scene.add( dee );
		    };


		    function scene(){
		    	var texture =new THREE.ImageUtils.loadTexture('../../img/marble.jpg');
					texture.wrapS = texture.wrapT = THREE.RepeatWrapping; 
					texture.repeat.set(1,1);
		        	var material1 = new THREE.MeshLambertMaterial({
		        		// color: 0xfff6d6,
		        		map: texture
		        	});
		        	// Add boxes
		        	var halfExtents = new CANNON.Vec3(1,5,1);
		        	var boxShape = new CANNON.Box(halfExtents);
		        	var boxGeometry = new THREE.BoxGeometry(halfExtents.x,halfExtents.y*2,halfExtents.z);
		        	for(var i=0; i<10; i++){
		        	    var x = data[i].x;
		        	    var y = data[i].y;
		        	    var z = data[i].z;
		        	    var boxBody = new CANNON.Body({ mass: 100000 });
		        	    boxBody.addShape(boxShape);
		        	    boxBody.id = i;
		        	    // console.log(boxBody);
		        	    var boxMesh = new THREE.Mesh( boxGeometry, material1 );
		        	    world.addBody(boxBody);
		        	    scene.add(boxMesh);
		        	    boxBody.position.set(x,y,z);
		        	    boxMesh.position.set(x,y,z);
		        	    boxMesh.castShadow = true;
		        	    boxMesh.receiveShadow = true;
		        	    boxes[i]=boxBody;
		        	    boxMeshes.push(boxMesh);
		        	    boxBody.addEventListener("collide", function(e){
		        	    	// console.log(e.target);
		        	    	function d(){
		        	    		socket.emit("barrierChange", {
		        	    			roomId: roomId,
		        	    			barrierId: e.target.id,
		        	    			position: e.target.position
		        	    		})
		        	    	}
		        	    	d();
							// setInterval(d, 600);
		        	    })
		        	}
		    }

		    function onWindowResize() {
		        camera.aspect = window.innerWidth / window.innerHeight;
		        camera.updateProjectionMatrix();
		        renderer.setSize( window.innerWidth, window.innerHeight );
		    }

		        
		    var dt = 1/60;
		    var mf = false; /*moveforward*/
		    var mb = false; /*notmoveBackward*/
		    var ml = false; /*notmoveLeft*/
		    var mr = false; /*notmoveRight*/
		    var otherInputVelocity = new THREE.Vector3();
		    var otherEuler = new THREE.Euler();
		    var quat = new THREE.Quaternion();
		    socket.on("moveForward", function(data){
		    	// console.log("moveForward: ", data);
		    	mf = true;
		    })
		    socket.on("notmoveForward", function(data){
		    	// console.log("notmoveForward: ", data);
		    	mf = false;
		    })
		    socket.on("moveBackward", function(data){
		    	// console.log("moveBackward: ", data);
		    	mb= true;
		    })
		    socket.on("notmoveBackward", function(data){
		    	// console.log("notmoveBackward: ", data);
		    	mb = false;
		    })
		    socket.on("moveLeft", function(data){
		    	// console.log("moveLeft: ", data);
		    	ml= true;
		    })
		    socket.on("notmoveLeft", function(data){
		    	// console.log("notmoveLeft: ", data);
		    	ml = false;
		    })
		    socket.on("moveRight", function(data){
		    	// console.log("moveRight: ", data);
		    	mr= true;
		    })
		    socket.on("notmoveRight", function(data){
		    	// console.log("notmoveRight: ", data);
		    	mr = false;
		    })

		    socket.on("pos",function(data){
		    	console.log(jason);
		    	var temp, temp2;
		    	for (var i = 0; i < jason.length; i++) {
		    		if(jason[i].id== data.profileId){
		    			temp = jason[i];
		    		}
		    	};
		    	for (var j = 0; j< sphereBody2Arr.length; j++) {
		    		if(sphereBody2Arr[j].id== data.profileId){
		    			temp2 = sphereBody2Arr[j];
		    		}
		    		console.log(sphereBody2Arr[j]);
		    	};
		    	console.log(temp);
		    	console.log(temp2);
		    	console.log(data);
		    	temp.position.set(data.position.x, data.position.y, data.position.z);
		    	temp2.position.set(data.position.x, data.position.y, data.position.z);
		    })

		    socket.on("otherHp", function(data){
		    	var hp = document.querySelectorAll(".otherPlayerHp");
		    	var temp =[];
		    	for(prop in data){
		    		var per = data[prop][0];
		    		document.querySelector("div[data-id='"+prop+"']").style.width = 200*per+'px';
		    		console.log(data[prop]);
		    	}

		    	console.dir("otherHp, " + data);
		    })
		    function animate() {
		    	moon.rotation.z +=0.001;
		    	ssun.rotation.x +=0.005;
		    	ssun.rotation.y +=0.005;
		        requestAnimationFrame( animate );
		        // yawObject.position.copy(sphereBody2.position);
		        // console.log("sphereBody2.position: ",sphereBody2.position);
		        // console.log("yawObject.position: ", jason[0].position);
		        // jason[0].position.copy(sphereBody2.position)
		        
	        	// console.log(data.velocity);

	        	var delta = Date.now() - time ;
	        	for (var i = 0; i < jason.length; i++) {
	        	    jason[i].position.copy(sphereBody2Arr[i].position);
	        	};
		        


		        if(controls.enabled){
		            world.step(dt);

		            // Update ball positions
		            for(var i=0; i<balls.length; i++){
		                ballMeshes[i].position.copy(balls[i].position);
		                ballMeshes[i].quaternion.copy(balls[i].quaternion);
		            }

		            // Update box positions
		            for(var i=0; i<boxes.length; i++){
		                boxMeshes[i].position.copy(boxes[i].position);
		                boxMeshes[i].quaternion.copy(boxes[i].quaternion);
		            }
		        }
    	        socket.on("barrierChange", function(data){
            		boxes[data.barrierId].position.set(data.position.x, data.position.y, data.position.z );
    	            boxMeshes[data.barrierId].position.copy(boxes[data.barrierId].position);
            	})
		        controls.update( Date.now() - time );
		        renderer.render( scene, camera );
		        time = Date.now();

		    }


// ****************************************************************************
// *                                  bullet                                  *
// ****************************************************************************

		    var ballShape = new CANNON.Sphere(0.2);
		    var ballGeometry = new THREE.SphereGeometry(ballShape.radius, 32, 32);
		    var shootDirection = new THREE.Vector3();
		    var shootVelo = 100; /*shoot speed*/
		    var projector = new THREE.Projector();
		    function getShootDir(targetVec){
		        var vector = targetVec;
		        targetVec.set(0,0,1);
		        projector.unprojectVector(vector, camera);
		        var ray = new THREE.Ray(sphereBody.position, vector.sub(sphereBody.position).normalize() );
		        // console.log("ray.direaction: ", ray.direction);
		        targetVec.copy(ray.direction);
		    }
		    socket.on("attacking", function(data){
		    	console.log(sphereBody2Arr);
		    	var temp;
		    	for (var i = 0; i < sphereBody2Arr.length; i++) {
		    		// console.log(sphereBody2Arr[i].id);
		    		if(sphereBody2Arr[i].id == data.profileId){
		    			temp = sphereBody2Arr[i];
		    		}
		    	};
		    	console.log("body : ", temp.position);
		    	console.log(data + " is attacking");
		    	var x = temp.position.x;
		    	var y = temp.position.y;
		    	var z = temp.position.z;
		    	var ballBody = new CANNON.Body({ mass: 11 }); /*the dencity of bullets*/
		    	ballBody.addShape(ballShape);
		    	world.addBody(ballBody);
		    	var ballMesh = new THREE.Mesh( ballGeometry, material );
		    	scene.add(ballMesh);
		    	ballMesh.castShadow = true;
		    	ballMesh.receiveShadow = true;
		    	balls.push(ballBody);
		    	ballMeshes.push(ballMesh);
		    	// getShootDir(shootDirection);
		    	ballBody.velocity.set(data.x * shootVelo,  data.y * shootVelo, data.z * shootVelo);
		    	// Move the ball outside the player sphere
		    	x += data.x * (sphereShape.radius*1.02 + ballShape.radius);
		    	y += data.y * (sphereShape.radius*1.02 + ballShape.radius);
		    	z += data.z * (sphereShape.radius*1.02 + ballShape.radius);
		    	ballBody.position.set(x,y,z);
		    	ballMesh.position.set(x,y,z);
		    });
		    /*bullet*/
		    window.addEventListener("click",function(e){
		        if(controls.enabled==true){
		        	document.getElementById('toogle').play();
		            var x = sphereBody.position.x;
		            var y = sphereBody.position.y;
		            var z = sphereBody.position.z;
		            var ballBody = new CANNON.Body({ mass: 11 }); /*the dencity of bullets*/
		            ballBody.addShape(ballShape);
		            world.addBody(ballBody);
		            var ballMesh = new THREE.Mesh( ballGeometry, material );
		            scene.add(ballMesh);
		            ballMesh.castShadow = true;
		            ballMesh.receiveShadow = true;
		            balls.push(ballBody);
		            ballMeshes.push(ballMesh);
		            getShootDir(shootDirection);
		            console.log("shootDirection: ,", shootDirection);
		            socket.emit("shoot", {
		            	roomId,
		            	profileId,
		            	directionX:shootDirection.x,
		            	directionY:shootDirection.y,
		            	directionZ:shootDirection.z
		            });
		            ballBody.velocity.set(shootDirection.x * shootVelo,  shootDirection.y * shootVelo, shootDirection.z * shootVelo);
		            // Move the ball outside the player sphere
		            x += shootDirection.x * (sphereShape.radius*1.02 + ballShape.radius);
		            y += shootDirection.y * (sphereShape.radius*1.02 + ballShape.radius);
		            z += shootDirection.z * (sphereShape.radius*1.02 + ballShape.radius);
		            ballBody.position.set(x,y,z);
		            ballMesh.position.set(x,y,z);
		        }
		    });

		</script>

	</body>
</html>