<!DOCTYPE html>
<html>
	<head>
		<title><%= roomName%></title>
		<link rel="stylesheet" href="../css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<script type="text/babel" src="../js/room.js"></script>

	<script type="text/javascript" >
		"use strict";

		let socket = io("<%= host %>"+"/room");

	window.addEventListener("load", function(){
		var roomId = "<%= roomId%>";
		var roomName = "<%= roomName%>";
		var userPic = document.getElementById("pppccc").textContent;
		var userName = "<%= user.profileName%>";
		var userId = "<%= user.profileId%>";
		
		console.log("roomId: ", roomId);
		console.log("roomName: ", roomName);
		console.log("userPic: " ,userPic);
		console.log("userName: ",userName );
		console.log("userId: ", userId);
		socket.on('connect', function () {
		   console.log("connect to server")
			socket.emit("join", {
				roomId,
				roomName,
				userPic,
				userName,
				userId
			})

		 });
		// let go= ()=>{
		// 	var playUser = document.querySelector(".play-user");
		// 	console.log(playUser);
		// 	socket.on("PlayroomUserList", (data)=>{
		// 		console.log("!!!!!userlistdata: ", JSON.parse(data));
		// 		let userlist  = JSON.parse(data);
		// 		playUser.innerHTML = "";
		// 		for (var i = 0; i < userlist.length; i++) {
		// 			console.log("userlist[i]: ",userlist[i]);
		// 			var newUser = document.createElement("div");
		// 			newUser.classList.add("user");
		// 			newUser.innerHTML = `<img/ src="${userlist[i].userPic}"><p>${userlist[i].userName}</p>`
		// 			playUser.appendChild(newUser);

		// 		};
		// 	})
		// }
		// setTimeout(go, 1000);
	})
		



	</script>
	<body id="room">
		<p id="pppccc"><%= user.profilePic%></p>
		<header>
			<nav>
				<h1>Room  <%= roomName%> | <%= roomId%></h1>
			</nav>
		</header>
		<main id="roomMain">
			

		</main>
	<!-- 	<script type="text/javascript" src="js/login.js">

		</script> -->
		<script type="text/babel" src="../js/controller.js"></script>

		<!-- controller -->

	</body>
</html>